{% extends "layout.html" %}

{% block title %}WeatherWise | Dashboard{% endblock %}

{% block content %}

<div class="p-8 sm:p-16">
    <div class="container mx-auto text-center text-gray-900 dark:text-slate-100">
        <h2 class="text-4xl sm:text-5xl font-bold tracking-tight mb-6 font-quicksand">
            Welcome to WeatherWise!
        </h2>
        <hr class="border-gray-900 dark:border-slate-100 opacity-30 mb-6 w-1/4 mx-auto" />

        {% if user.is_authenticated %}
        <p class="text-xl sm:text-2xl mb-4 ">
            Welcome, {{ user.first_name }} {{ user.last_name }}!
            <br />
            We are happy to have you here.
        </p>

        <!-- Feedback Button -->
        <a href="{% url 'feedback_view' %}" class="fixed bottom-8 right-8 z-50">
            <button
                class="bg-blue-500 hover:bg-blue-600 focus:ring-blue-300 px-4 py-2 rounded-lg text-white font-semibold shadow-lg hover:shadow-xl transform transition-all duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 dark:focus:ring-yellow-300 dark:bg-yellow-500 dark:hover:bg-yellow-600">
                Feedback
            </button>
        </a>
        {% endif %}

        <!-- Prediction Button -->
        <div class="mt-8">
            <a href="{% url 'predict_view' %}">
                <button
                    class="bg-blue-500 hover:bg-blue-600 px-8 py-4 rounded-lg text-white font-semibold shadow-lg hover:shadow-xl transform transition-all duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-yellow-500 dark:hover:bg-yellow-600 dark:focus:ring-yellow-300">
                    Prediction
                </button>
            </a>
        </div>

        <!-- Include Dashboard -->
        <div class="mt-12">
            <!-- Search form -->
            <form method="POST" class="mt-4 mb-4 text-center w-full max-w-lg mx-auto rounded-xl">
                {% csrf_token %}
                <div
                    class="flex items-center rounded-full bg-slate-200 dark:bg-slate-700 text-black dark:text-gray-50 font-roboto">
                    <!-- Input Field -->
                    <div class="flex-grow flex relative">
                        <input type="text" name="location" placeholder="Search for a location"
                            class="flex-grow p-4 rounded-full text-black text-lg focus:outline-none" />
                    </div>

                    <!-- Search Button -->
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-600 p-4 text-white font-semibold rounded-full transition-all duration-300 ease-in-out dark:bg-yellow-500 dark:hover:bg-yellow-600"
                        aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-4.35-4.35m1.55-4.65a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        {% if error %}
        <div class="text-red-500 text-xl mt-2">{{ error }}</div>
        {% endif %}
    </div>
</div>

{% if data %}
<!-- Container for the Weather Information -->
<div class="container mx-auto text-center p-8 font-roboto mb-4">
    <!-- Weather Card -->
    <div
        class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 p-8 rounded-xl shadow-2xl space-y-8 max-w-4xl mx-auto transform transition-transform hover:scale-105">
        <!-- Location and Coordinates -->
        <div class="flex flex-col sm:flex-row justify-between items-center border-b border-gray-700 pb-4">
            <div>
                <p class="text-3xl font-bold">
                    "{{ data.name|escapejs }}", {{ data.sys.country }}
                </p>
                <p class="text-sm text-gray-400">
                    Coordinates: {{ data.coord.lat }}, {{ data.coord.lon }}
                </p>
            </div>

                <form method="POST">
                    {% csrf_token %}
                    <!-- Hidden Field to Store Favorite Status -->
                    <input type="hidden" id="delete_loc" name="fav_location_save" value="{{ data.name|escapejs }}" />
                    <!-- Favorite Button -->
                    <button type="submit" id="delete_loc"
                        class="absolute top-[5px] right-[10px] p-2 rounded-full focus:outline-none"
                        aria-label="Toggle Favorite" onclick="toggleFavorite(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-500" fill="currentColor"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path id="star-icon"
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </button>
                </form>

        </div>

        <!-- Weather Condition -->
        <div class="flex flex-col sm:flex-row items-center space-x-8 py-6">
            <img src="http://openweathermap.org/img/wn/{{ data.weather.0.icon }}@4x.png" alt="Weather Icon"
                class="w-32 h-32" />
            <div class="text-center sm:text-left">
                <p class="text-3xl font-semibold">Weather: {{ data.weather.0.main }}</p>
                <p class="text-lg text-gray-400">
                    Condition: {{ data.weather.0.description }}
                </p>
            </div>
        </div>

        <!-- Temperature, Pressure & Humidity -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div class="space-y-2">
                <p class="text-xl">
                    <strong>Temperature:</strong> {{ data.main.temp }}°C
                </p>
                <p class="text-xl text-gray-400">
                    Feels Like: {{ data.main.feels_like }}°C
                </p>
            </div>
            <div class="space-y-2">
                <p class="text-xl">
                    <strong>Pressure:</strong> {{ data.main.pressure }} hPa
                </p>
                <p class="text-xl text-gray-400">Humidity: {{ data.main.humidity }}%</p>
            </div>
        </div>

        <!-- Wind Information -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div>
                <p class="text-xl">
                    <strong>Wind Speed:</strong> {{ data.wind.speed }} m/s
                </p>
            </div>
            <div>
                <p class="text-xl">
                    <strong>Wind Direction:</strong> {{ data.wind.deg }}°
                </p>
            </div>
        </div>

        <!-- Cloud Coverage -->
        <div class="border-t border-gray-700 pt-4">
            <p class="text-xl">
                <strong>Cloud Coverage:</strong> {{ data.clouds.all }}%
            </p>
        </div>

        <!-- Visibility -->
        <div class="border-t border-gray-700 pt-4">
            <p class="text-xl">
                <strong>Visibility:</strong> {{ data.visibility }} meters
            </p>
        </div>

        <!-- Sunrise & Sunset -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div>
                <p class="text-xl"><strong>Sunrise:</strong> {{ data.sys.sunrise }} AM</p>
            </div>
            <div>
                <p class="text-xl"><strong>Sunset:</strong> {{ data.sys.sunset }} PM</p>
            </div>
        </div>
    </div>
</div>

{% elif fav_locs_data %}
<!-- Container for the Weather Information -->
{% for data in fav_locs_data %}
<div class="container mx-auto text-center p-8 font-roboto mb-4">
    <!-- Weather Card -->

    <div
        class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 p-8 rounded-xl shadow-2xl space-y-8 max-w-4xl mx-auto transform transition-transform hover:scale-105">
        <!-- Location and Coordinates -->
        <div class="flex flex-col sm:flex-row justify-between items-center border-b border-gray-700 pb-4">
            <div>
                <p class="text-3xl font-bold">
                    "{{ data.name|escapejs }}", {{ data.sys.country }}
                </p>
                <p class="text-sm text-gray-400">
                    Coordinates: {{ data.coord.lat }}, {{ data.coord.lon }}
                </p>
            </div>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Hidden Field to Store Favorite Status -->
                        <input type="hidden" id="delete_loc" name="fav_location_delete" value="{{ data.name|escapejs }}" />
                        <!-- Favorite Button -->
                        <button type="submit" id="delete_loc"
                            class="absolute top-[5px] right-[10px] p-2 rounded-full focus:outline-none"
                            aria-label="Toggle Favorite" onclick="toggleFavorite(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-500" fill="#FFD700"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path id="star-icon"
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                            </svg>
                        </button>
                    </form>
        </div>

        <!-- Weather Condition -->
        <div class="flex flex-col sm:flex-row items-center space-x-8 py-6">
            <img src="http://openweathermap.org/img/wn/{{ data.weather.0.icon }}@4x.png" alt="Weather Icon"
                class="w-32 h-32" />
            <div class="text-center sm:text-left">
                <p class="text-3xl font-semibold">Weather: {{ data.weather.0.main }}</p>
                <p class="text-lg text-gray-400">
                    Condition: {{ data.weather.0.description }}
                </p>
            </div>
        </div>

        <!-- Temperature, Pressure & Humidity -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div class="space-y-2">
                <p class="text-xl">
                    <strong>Temperature:</strong> {{ data.main.temp }}°C
                </p>
                <p class="text-xl text-gray-400">
                    Feels Like: {{ data.main.feels_like }}°C
                </p>
            </div>
            <div class="space-y-2">
                <p class="text-xl">
                    <strong>Pressure:</strong> {{ data.main.pressure }} hPa
                </p>
                <p class="text-xl text-gray-400">Humidity: {{ data.main.humidity }}%</p>
            </div>
        </div>

        <!-- Wind Information -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div>
                <p class="text-xl">
                    <strong>Wind Speed:</strong> {{ data.wind.speed }} m/s
                </p>
            </div>
            <div>
                <p class="text-xl">
                    <strong>Wind Direction:</strong> {{ data.wind.deg }}°
                </p>
            </div>
        </div>

        <!-- Cloud Coverage -->
        <div class="border-t border-gray-700 pt-4">
            <p class="text-xl">
                <strong>Cloud Coverage:</strong> {{ data.clouds.all }}%
            </p>
        </div>

        <!-- Visibility -->
        <div class="border-t border-gray-700 pt-4">
            <p class="text-xl">
                <strong>Visibility:</strong> {{ data.visibility }} meters
            </p>
        </div>

        <!-- Sunrise & Sunset -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 border-t border-gray-700 pt-4">
            <div>
                <p class="text-xl"><strong>Sunrise:</strong> {{ data.sys.sunrise }} AM</p>
            </div>
            <div>
                <p class="text-xl"><strong>Sunset:</strong> {{ data.sys.sunset }} PM</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}

<div class="container mx-auto text-center text-gray-900 dark:text-slate-100">
    <p class="text-xl sm:text-xl font-semibold mb-4 text-red-700 p-6 rounded-lg ">
        <span class="block text-2xl font-bold text-red-600 mb-2">No Favorites Added Yet</span>
        <span class="block text-lg text-gray-800 dark:text-slate-200">
            Start by searching for a location and mark it as a favorite to see it listed here. You'll be able to keep track of your favorite places and revisit them easily!
        </span>
    </p>
    <hr class="border-gray-900 dark:border-slate-100 opacity-20 mb-6 w-1/3 mx-auto" />
    <p class="text-sm text-gray-600 dark:text-slate-200">
        Need help? Browse through our locations or type your favorite place in the search bar.
    </p>
</div>



{% endif %}


{% endblock %}