{% extends "layout.html" %}

{% load static tailwind_tags %}
{% block title %}WeatherWise | 5-Day Forecast{% endblock %}

{% block content %}


<body
    class="bg-gradient-to-br from-gray-50 to-cyan-100 text-gray-700 flex items-center justify-center min-h-screen py-8 font-roboto">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl">
        <!-- Welcome Section -->
        <div class="text-center mb-10">
            <h1 class="text-4xl font-bold text-blue-600 dark:text-yellow-500">5-Day Weather Forecast</h1>
            <p class="text-lg text-gray-600 dark:text-slate-200 mt-2">Get a glimpse of the weather forecast for the next
                5 days.</p>
        </div>

        <!-- Display error message if present -->
        {% if error %}
        <div
            class="bg-red-500 dark:bg-red-700 text-white text-center p-4 rounded-md mb-4 relative max-w-md mx-auto flex justify-between items-center">
            <p class="flex-grow text-left"><strong>{{ error }}</strong></p>
            <button type="button" class="ml-4 text-white font-bold bg-transparent border-none focus:outline-none"
                onclick="this.parentElement.remove()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        {% endif %}



        <div class="my-8">
            <!-- Search form -->
            <form method="POST" class="mt-4 mb-4 text-center w-full max-w-lg mx-auto rounded-xl">
                {% csrf_token %}
                <div
                    class="flex bg-white text-black dark:text-gray-50 font-roboto rounded-full shadow-md border-none focus:outline-none focus:ring-0">
                    <!-- Input Field -->
                    <input type="text" name="location" placeholder="Enter location"
                        class="flex-grow p-4 text-lg rounded-full bg-transparent border-none focus:outline-none focus:ring-0 text-black"
                        aria-label="Enter location" />


                    <!-- Submit Button -->
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-400 p-4 text-white font-semibold shadow-lg transition-all duration-300 ease-in-out rounded-full dark:bg-yellow-500 dark:hover:bg-yellow-600"
                        aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-4.35-4.35m1.55-4.65a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>

        {% if recentLocs %}
        <!-- Recent Locations -->
        <div class="mt-12">
            <h3 class="text-xl md:text-2xl font-semibold text-center mb-6">Recent Locations</h3>
            <div id="recent-locations" class="flex flex-wrap justify-center gap-4">

            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 mb-8"></div>
        {% for recentLocation in recentLocs %}
        <form method="POST" class="relative">
            {% csrf_token %}
            <input type="hidden" name="location" value="{{ recentLocation.recent_location }}">
            <button type="submit"
                class="block bg-gradient-to-br from-cyan-100 to-blue-300 text-gray-800 text-center py-4 px-2 rounded-lg shadow-lg hover:scale-105 hover:shadow-2xl transition-transform duration-300 ease-in-out w-full">
                <span class="font-semibold">{{ recentLocation.recent_location }}</span>
            </button>
        </form>
        {% endfor %}
    </div>
    {% elif predictions %}
    <!-- Forecast Cards in Vertical Layout -->
    <div class="mt-12">
        <h3 class="text-xl md:text-2xl font-semibold text-center mb-12">{{city}}</h3>
    </div>
    <div id="forecast-container" class="space-y-8 mb-12">
        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 rounded-xl shadow-xl p-8 transform transition-transform hover:scale-105 w-4/5 mx-auto">
            <div class="text-center mb-6">
                <p class="text-3xl font-bold text-blue-600 dark:text-yellow-500">{{predictions.0.day}}</p>
                <p class="text-sm text-gray-400 mt-1">{{predictions.0.date}}</p>
            </div>

            <div class="flex justify-between border-t border-gray-700 pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.0.original_values.temperature}}°C</p>
                    <p class="text-sm text-gray-400">Temparature</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.0.original_values.humidity}}%</p>
                    <p class="text-sm text-gray-400">Humidity</p>
                </div>
            </div>
            <div class="flex justify-between pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.0.original_values.wind_speed}} kmph</p>
                    <p class="text-sm text-gray-400">Wind speed</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.0.original_values.precipitation}} mm</p>
                    <p class="text-sm text-gray-400">Precipitation</p>
                </div>
            </div>
        </div>

        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 rounded-xl shadow-xl p-8 transform transition-transform hover:scale-105 w-4/5 mx-auto">
            <div class="text-center mb-6">
                <p class="text-3xl font-bold text-blue-600 dark:text-yellow-500">{{predictions.1.day}}</p>
                <p class="text-sm text-gray-400 mt-1">{{predictions.1.date}}</p>
            </div>

            <div class="flex justify-between border-t border-gray-700 pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.1.original_values.temperature}}°C</p>
                    <p class="text-sm text-gray-400">Temparature</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.1.original_values.humidity}}%</p>
                    <p class="text-sm text-gray-400">Humidity</p>
                </div>
            </div>
            <div class="flex justify-between pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.1.original_values.wind_speed}} kmph</p>
                    <p class="text-sm text-gray-400">Wind speed</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.1.original_values.precipitation}} mm</p>
                    <p class="text-sm text-gray-400">Precipitation</p>
                </div>
            </div>
        </div>


        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 rounded-xl shadow-xl p-8 transform transition-transform hover:scale-105 w-4/5 mx-auto">
            <div class="text-center mb-6">
                <p class="text-3xl font-bold text-blue-600 dark:text-yellow-500">{{predictions.2.day}}</p>
                <p class="text-sm text-gray-400 mt-1">{{predictions.2.date}}</p>
            </div>

            <div class="flex justify-between border-t border-gray-700 pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.2.original_values.temperature}}°C</p>
                    <p class="text-sm text-gray-400">Temparature</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.2.original_values.humidity}}%</p>
                    <p class="text-sm text-gray-400">Humidity</p>
                </div>
            </div>
            <div class="flex justify-between pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.2.original_values.wind_speed}} kmph</p>
                    <p class="text-sm text-gray-400">Wind speed</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.2.original_values.precipitation}} mm</p>
                    <p class="text-sm text-gray-400">Precipitation</p>
                </div>
            </div>
        </div>


        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 rounded-xl shadow-xl p-8 transform transition-transform hover:scale-105 w-4/5 mx-auto">
            <div class="text-center mb-6">
                <p class="text-3xl font-bold text-blue-600 dark:text-yellow-500">{{predictions.3.day}}</p>
                <p class="text-sm text-gray-400 mt-1">{{predictions.3.date}}</p>
            </div>

            <div class="flex justify-between border-t border-gray-700 pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.3.original_values.temperature}}°C</p>
                    <p class="text-sm text-gray-400">Temparature</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.3.original_values.humidity}}%</p>
                    <p class="text-sm text-gray-400">Humidity</p>
                </div>
            </div>
            <div class="flex justify-between pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.3.original_values.wind_speed}} kmph</p>
                    <p class="text-sm text-gray-400">Wind speed</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.3.original_values.precipitation}} mm</p>
                    <p class="text-sm text-gray-400">Precipitation</p>
                </div>
            </div>
        </div>


        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 rounded-xl shadow-xl p-8 transform transition-transform hover:scale-105 w-4/5 mx-auto">
            <div class="text-center mb-6">
                <p class="text-3xl font-bold text-blue-600 dark:text-yellow-500">{{predictions.4.day}}</p>
                <p class="text-sm text-gray-400 mt-1">{{predictions.4.date}}</p>
            </div>

            <div class="flex justify-between border-t border-gray-700 pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.4.original_values.temperature}}°C</p>
                    <p class="text-sm text-gray-400">Temparature</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.4.original_values.humidity}}%</p>
                    <p class="text-sm text-gray-400">Humidity</p>
                </div>
            </div>
            <div class="flex justify-between pt-4">
                <div>
                    <p class="text-2xl font-semibold">{{predictions.4.original_values.wind_speed}} kmph</p>
                    <p class="text-sm text-gray-400">Wind speed</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold">{{predictions.4.original_values.precipitation}} mm</p>
                    <p class="text-sm text-gray-400">Precipitation</p>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!-- Display a message if no recent locations are available -->
    <p class="text-center text-gray-500 italic">No recent locations available.</p>
    {% endif %}
    </div>
</body>
{% endblock %}