
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.star-container {
    font-size: 50px;
}

.star {
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}


.star.active {
    color: yellow;
}
