.dash-board,
.dash-board * {
  box-sizing: border-box;
}
.dash-board {
  background: #7c9797;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 763px;
  height: 60px;
  position: absolute;
  left: 338px;
  top: 39px;
}
.mask-group {
  height: auto;
  position: absolute;
  left: 354px;
  top: 46px;
  overflow: visible;
}
.search-location {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 420px;
  top: 50px;
}
.rectangle-4 {
  width: 81px;
  height: 81px;
  position: absolute;
  left: 1327px;
  top: 29px;
  object-fit: cover;
}
.rectangle-7 {
  background: linear-gradient(
    -90deg,
    rgba(124, 151, 151, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  width: 317px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.weather-wise {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 55px;
  top: 48px;
}
.rectangle-5 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 34.5px 34.5px 0px;
  width: 303px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 189px;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 199px;
}
.prediction {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 280px;
}
.settings-layout {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 512px;
}
.logout {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 583px;
}
.rectangle-6 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 290px;
  height: 174px;
  position: absolute;
  left: 354px;
  top: 189px;
}
.rectangle-17 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 470px;
  height: 161px;
  position: absolute;
  left: 674px;
  top: 777px;
}
.rectangle-18 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 470px;
  height: 161px;
  position: absolute;
  left: 674px;
  top: 409px;
}
.rectangle-19 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 470px;
  height: 161px;
  position: absolute;
  left: 674px;
  top: 593px;
}
.rectangle-10 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 290px;
  height: 529px;
  position: absolute;
  left: 354px;
  top: 409px;
}
.rectangle-13 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 217px;
  height: 529px;
  position: absolute;
  left: 1174px;
  top: 409px;
}
.rectangle-9 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 220px;
  height: 133px;
  position: absolute;
  left: 1174px;
  top: 230px;
}
.rectangle-11 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 220px;
  height: 133px;
  position: absolute;
  left: 674px;
  top: 230px;
}
.rectangle-12 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  width: 220px;
  height: 133px;
  position: absolute;
  left: 924px;
  top: 230px;
}
