{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Weather Wise{% endblock %}</title>
    {% tailwind_css %}
  </head>

  <body class="flex flex-col min-h-screen bg-gray-800 text-gray-100">
    <nav class="bg-gray-900 shadow-md">
      <div
        class="container mx-auto px-4 py-4 flex justify-between items-center"
      >
        <!-- WeatherWise Logo Positioned to Left -->
        <a href="/" class="text-yellow-400 text-2xl font-bold mb-2 md:mb-0"
          >WeatherWise</a
        >

        <!-- Hamburger Menu for Mobile -->
        <div class="lg:hidden flex items-center">
          <button class="text-white focus:outline-none" id="navbar-toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>

        <!-- Navbar Links (Desktop and mobile) -->
        <div class="hidden lg:flex items-center space-x-6">
          <a
            href="{% url 'about_view' %}"
            class="text-gray-300 hover:text-white"
            >Who We Are</a
          >

          {% if user.is_authenticated %}
          <a
            href="{% url 'logout_view' %}"
            class="bg-red-500 px-3 py-1 rounded text-white font-semibold"
            >LogOut</a
          >
          <a href="{% url 'profile_view' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-4.41 0-8 2.69-8 6v2h16v-2c0-3.31-3.59-6-8-6z"
              />
            </svg>
          </a>
          {% else %}
          <a
            href="{% url 'login_view' %}"
            class="bg-green-500 px-3 py-1 rounded text-white font-semibold"
            >Login</a
          >
          <a
            href="{% url 'signup_view' %}"
            class="bg-green-500 px-3 py-1 rounded text-white font-semibold"
            >SignUp</a
          >
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Mobile Dropdown (Initially hidden) -->
    <div class="lg:hidden hidden bg-gray-800 p-4" id="navbar-menu">
      <a
        href="{% url 'about_view' %}"
        class="block text-gray-300 hover:text-white py-2"
        >Who We Are</a
      >
      {% if user.is_authenticated %}
      <a
        href="{% url 'logout_view' %}"
        class="block bg-red-500 px-3 py-1 rounded text-white font-semibold my-2"
        >LogOut</a
      >
      <a href="{% url 'profile_view' %}" class="block py-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-4.41 0-8 2.69-8 6v2h16v-2c0-3.31-3.59-6-8-6z"
          />
        </svg>
      </a>
      {% else %}
      <a
        href="{% url 'login_view' %}"
        class="block bg-green-500 px-3 py-1 rounded text-white font-semibold my-2"
        >Login</a
      >
      <a
        href="{% url 'signup_view' %}"
        class="block bg-green-500 px-3 py-1 rounded text-white font-semibold"
        >SignUp</a
      >
      {% endif %}
    </div>

    <!-- Content Section -->
    <div class="container mx-auto mt-4 flex-grow">
      {% block content %} {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-gray-900 text-center py-6 mt-auto">
      <p class="text-gray-500 mb-4">Our Work</p>
      <a
        href="https://github.com/Shravan-0024/IT314_Project_G22"
        target="_blank"
        class="bg-yellow-500 px-6 py-1 rounded-lg text-white font-semibold transition-colors hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-yellow-600"
      >
        Github
      </a>
    </footer>

    <script>
      // Toggle mobile menu visibility
      document
        .getElementById("navbar-toggle")
        .addEventListener("click", function () {
          const menu = document.getElementById("navbar-menu");
          menu.classList.toggle("hidden");
        });
    </script>
  </body>
</html>
