body,
html {
    height: 90%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    opacity: 0.8;
}

.create-account-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.create-account-box h1 {
    margin-bottom: 20px;
}

.input-box {
    /* position: relative;
    margin-bottom: 30px; */
    text-align: left;
}

.create-account-box form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 0 20px;
}

.create-account-box form label {
    /* position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s;
    pointer-events: none; */
    font-size: 14px;
    color: #0b0303;
    margin: 0 0 5px;
    font-weight: 600;
    
}
.create-account-box form input::placeholder {
    color: #888; 
    font-size: 12px; 
    opacity: 1;
}

.input-box input:focus+label,
.input-box input:not(:placeholder-shown)+label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #0b0303;
    margin: 15px;
}

.create-account-box .btn {
    background-color: #1299d3;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #1299d3;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.create-account-box .btn:hover{
    border: 1px solid #1299d3;
    background-color: transparent;
    color: #1299d3;;
}
.navbar-outer {
    background: linear-gradient(270deg, #00bfff, #00ffff, #1e90ff, #4682b4, #ff00ff, #ff69b4, #d8bfd8);
    animation: swirling-neon 15s ease infinite;
    /* Keep the animation here */
    border-radius: 45px;
    padding: 5px;
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.navbar-inner {
    background: white;
    /* Optional: add a simple background color */
    border-radius: 40px;
    padding: 5px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove any animations here */
}

.navbar-custom {
    background: transparent;
    /* Ensure the navbar is transparent to show the outer background */
}
.create-account-box .input-box .password-box{
    position: relative;
}
.create-account-box .input-box .password-box i{
    position: absolute; 
    right: 10px;
     top: 35%; 
    transform: translateY(-50%); 
    cursor: pointer;
}
